@model string[]

<html>
<head>
    <title>Генератор документов</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body class="body">
    <header>
        <h2>Labels Service</h2>
        <a href="http://localhost:60527">Вернуться на форму регистрации/авторизации</a>
    </header>
    <div>
        @if (ViewBag.Title == "Not Error")
        {
            <div class="alert alert-success" role="alert">
                <pre>@ViewBag.Message</pre>
            </div>
        }
        else if (ViewBag.Title == "Error")
        {
            <div class="alert alert-danger" role="alert">
                <pre>@ViewBag.Message</pre>
            </div>
        }
        @if (ViewBag.WTitle == "Warning")
        {
            <div class="alert alert-warning" role="alert">
                <pre>@ViewBag.WMessage</pre>
            </div>
        }
    </div>
    <section>
        @using (Html.BeginForm())
        {
            <label>Поле для ввода URL-адреса:</label>
            <div>
                <input type="text" autocomplete="off" class="form-control input-margin-right" name="URL" id="URL" />
                <select class="form-control input-margin select" name="URL-type">
                    <option value="Google">Google диск</option>
                    <option value="Other">Прочее</option>
                </select>
            </div>
            <button class="btn btn-success btn-margin-top" name="btn" value="Download">Скачать документ</button><br />

            @if (Model != null)
            {
                @ViewBag.A
                <label>Таблица для ввода меток:</label>
                <table width="650" border="1" cellspacing="0" cellpadding="5" class="table table2">
                    <tr>
                        <th scope="col">МЕТКА</th>
                        <th scope="col">ЗНАЧЕНИЕ</th>
                        <th scope="col">ТИП</th>
                    </tr>
                    @for (int i = 0; i < Model.Length - 1; i++)
                    {
                        <tr>
                            <td><input class="form-control input-margin" name="val1[]" readonly="readonly" value="@Model[i]" /></td>
                            <td><input class="form-control input-margin" autocomplete="off" name="val2[]" value="&#8291;" /></td>
                            <td>
                                <select class="form-control input-margin" name="val3[]">
                                    <option value="Текстовая метка">Текстовая метка</option>
                                    <option value="Метка изображения">Метка изображения</option>
                                    <option value="Метка таблицы">Метка таблицы</option>
                                </select>
                            </td>
                        </tr>
                    }
                </table>

                <button class="btn btn-success" name="btn" value="Generation">Сгенерировать документ</button>
            }
        }
    </section>
</body>
</html>